.topbarContainer {
  height: 3.125rem;
  width: 100%;
  background-color: #3aafa9;
  display: flex;
  align-items: center;
  top: 0;
  position: sticky;
}
.logo {
  font-size: 1.5rem;
  margin-left: 1.25rem;
  font-weight: bold;
  color: whitesmoke;
  cursor: pointer;
}
.topbarLeft {
  flex: 3;
}
.topbarCenter {
  flex: 5;
}
.searchbar {
  width: 100%;
  height: 1.875rem;
  border-radius: 1.875rem;
  display: flex;
  align-items: center;
  background-color: white;
}
.searchIcon{
    font-size: 1.225rem !important;
    margin-left: .625rem;
}
.searchInput{
    border: none;
    width: 75%;
    margin-left: .125rem;
}
.searchInput:focus{
    outline: none;
}
.topbarRight {
  flex: 4;
}
.topbarImg {
  width: 2rem;
  height: 2rem;
}
